* {
    font-family: "Roboto Mono";
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 250px;
    height: 100px;
    top: 2.5%;
    left: 2.5%;
    font-size: smaller;
}

.info input {
    width: 15%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

.row {
    display: flex;
    padding: 5%;
    flex-direction: row;
}

.row button {
    background-color: white;
    border: none;
    cursor: pointer;
}
